@font-face {
    font-family: "norse";
    src: url("../fonts/Norse-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

:root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    display: flex;
}

.logo-container {
    width: 35%;
    height: 100vh;

    background-image: url("../assets/halie-west-25xggax4bSA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.logo {
    font-family: "norse";
    font-size: 5rem;

    height: 10rem;
    margin-top: 35%;
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.35);
    color: white;
}

.logo > img {
    height: 80%;
}

.logo > span {
    opacity: 1;
}

.form-container {
    width: 65%;
    height: 100vh;

    background-color: blue;
}

.introduction {
    height: 35%;

    background-color: #fafafa;
    position: relative;
}

.introduction > div {
    padding-top: 14rem;
    position: absolute;
    left: 3rem;
    bottom: 3rem;
}

p {
    width: 55ch;
    line-height: 1.5;
    font-weight: 500;
    font-weight: bold;
    margin-top: 0;
}

.introduction span {
    font-style: italic;
}

.form {
    height: 30%;
    margin-top: 0;
    background-color: #ffffff;
    padding-left: 3rem;
    padding-top: 1rem;
    box-shadow: 1px 5px 5px lightgrey, .5px -.5px 5px #f5f5f5;
    position: relative;
    z-index: 2;
}

.form p {
    font-size: 1.5rem;
    font-weight: lighter;
}

.form-row > div {
    display: inline-block;
    padding-right: 5rem;
}

.form-row {
    padding-bottom: 1.3rem;
}

input, label{
    display: block;
}

label {
    font-size: .7rem;
    padding-bottom: .3rem;
    color: #333333;
    border-color: #ffffff;
}

input {
    appearance: none;
    height: 1.3rem;
    width: 35ch;
    border: 1px solid #E5E7EB;
    padding:.2rem .5rem;
    border-radius: 3px;
}

input:user-invalid {
    border-color: #C5172E;
}

input:focus {
    border: 1px solid #3D3BF3;
    outline: none;
    box-shadow: 1px 3px 5px lightgrey;
}

.form-button {
    height: 35%;

    background-color: #fafafa;
}

.form-button > div {
    padding: 2rem 3rem;
}

button {
    padding: .8rem 3rem;
    border: none;
    border-radius: 5px;
    background-color: #596D48;
    color: white;
    font-weight: bold;
    box-shadow: 1px 3px 5px lightgrey;
}

button:focus,
button:hover {
    background-color: #697b5a;
}

button:active {
    box-shadow: none;
    transform: translateY(3px)
}

.form-button p {
    font-weight: lighter;
    font-size: .9rem;
    padding-top: 1.4rem;
}

.form-button a {
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}

.form-button a:hover,
.form-button a:focus {
    color: #7a8a6c;
}
